.nav-bar {
  background-color: lightCoral!important;
}

.nav-left{
	 
  background-color: PaleVioletRed!important;

}
.titre {
	height: 50px;
    text-align: center;
    margin-top: 70px;
}
.footy {
  height: 80px;
  display: block;
  text-align: center;
  position: relative;
  width: 200px;
  border-radius: 5px;
}
.icon {
	font-size: 50px;
	padding-top:20px;
}
.roww  {
  display: flex;
  width: 800px;
}
.list {
  margin-top: 40px;
}
#infos {
  position: absolute;
  top: -70px;
  width: 300px;
  height: 70px;
  background-color:#F7F7F7;
}
.foot {
      height: 300px;
    display: table-cell;
    text-align: center;
    position: relative;
    width: 3000px;
}

.button-bar {
  margin-top: 50px;
}

.button {
  border: 1px lightgrey solid;
  border-radius: 10%;
}

.boarding{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.heart{
	float:right;
	margin-right: 20px;
}

.heart:active{
  color: lightyellow;
  transition: 0.4s;
}

.cross {
	float: left;
	margin-left: 20px;
	color: red;
}

.cross:active{
  color: lightyellow;
    transition: 0.4s;
}

.star{
	color: #FFD700;
}

.star:active{
  color: lightyellow;
    transition: 0.4s;
}


.ion-star:before {
	margin-top: 20px;
}



.background-grey {
  background-color: #F7F7F7;
}

.td-title {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
}

.td-title span {
  font-weight: bold;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  border-radius: 3px;
  background-color: transparent;
}

td-card img {
  max-width: 100%;
  border-radius: 4px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #4CAF50;
  opacity: 0;
}

.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #F44336;
  opacity: 0;
}

.discard {
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 5px 5px 0;
}

td-card#end-card {
  background-color: none;
  box-shadow: none;
  border-radius: none;
}

#end-card i {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 40px);
  font-size: 100px;
}


.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}


